<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JS Demo</title>
    <!--<script>alert(1);</script>-->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js  language="JavaScript"></script>
</head>
<body>

<h1 id="before">Hello World!</h1>
<p id="after">Nadya</p>

<script src="../static/main.js" th:src="@{main.js}"></script>
<!--<script src="../static/test.js" th:src="@{test.js}"></script>-->
</body>
</html>